


.about-technomax h2 {
    margin-bottom: 35px
}






.viosion-mission-value p {
    width: 75%;
    min-height: 90px;
    margin: auto;
    text-align: center
}

.vision-mission-inner {
    padding: 20px;
    border: 1px solid #e9e9e9;
    text-align: center
}

.vision-mission-inner::before,
.vision-mission-inner::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%
}

.vision-mission-inner {
    transition: color .25s;
    position: relative
}

.vision-mission-inner::before,
.vision-mission-inner::after {
    border: 2px solid transparent;
    width: 0;
    height: 0
}

.vision-mission-inner::before {
    top: 0;
    left: 0
}

.vision-mission-inner::after {
    bottom: 0;
    right: 0
}



.vision-mission-inner:hover::before,
.vision-mission-inner:hover::after {
    width: 100%;
    height: 100%
}

.vision-mission-inner:hover::before {
    border-top-color: #085398;
    border-right-color: #085398;
    transition: width .25s ease-out, height .25s ease-out .25s
}

.vision-mission-inner:hover::after {
    border-bottom-color: #085398;
    border-left-color: #085398;
    transition: border-color 0 ease-out 0.5s, width .25s ease-out 0.5s, height .25s ease-out .75s
}

#contactfrom .contact-form .button_color:hover{

    background-color: #0c1735;
    color: white;
}

#contactfrom .contact-form h1{
    color:  #0c1735;
}


.insp-desi-desc-wrap {
    padding: 15px;
    padding-right: 10px;
    background: #fff;
    box-shadow: 0 0 5px #d7d7d7;
    text-align: left
}

.insp-desi-desc-wrap p {
    min-height: 69px
}

.insp-desi-desc {
    margin-bottom: 15px
}

.insp-desi-desc img {
    float: left;
    width: 40px;
    height:40px ;
}

.lifepftmax .insp-desi-desc {
    margin-bottom: 0
}

.lifepftmax .insp-desi-desc {
    margin-bottom: 0
}

.lifepftmax .insp-desi-desc h5 {
    float: none;
    text-align: center;
    margin: auto;
    min-height: unset;
    width: 100%;
    padding-left: 0;
    line-height: unset;
    padding-top: 10px
}

.lifepftmax .insp-desi-desc i {
    display: block;
    float: none;
    width: auto;
    text-align: center;
    margin: auto
}

.insp-desi-desc-wrap p {
    min-height: 69px
}




/*  from */
.contact-form {
    /* max-width: 400px; */
    /* margin: auto; */
    /* padding-top: 100px; */
    align-items: center;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.72);
    ;
    width: 600px;
    height: 100%;
    border: 1px solid #cec8c8;
    box-shadow: 0 0 50px rgba(128, 124, 124, 0.3);

}

.contact-form label {
    display: block;
    /* margin-bottom: 1px; */
}

.contact-form input,
.contact-form textarea {
    width: 500px;
    padding: 6px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;

}

.contact-form input,
textarea {
    border: 1px solid #ccc;
    /* Adds a border around the form box */
    border-radius: 5px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 70px;
    border: none;
    cursor: pointer;
}


#contactfrom {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    padding: 33px;
    padding-top: 100px;
    /* margin: 30px; */
    /* padding-bottom: 150px; */
    /* display: inline-block;    */
    /* background-color: #030303; */
    background-image: url(img/.jpg);
}



.ctmail1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .ctmail {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ctmail i{
    font-size: 30px;
  }
  .ctmail .call_icon i{
    color:rgb(39, 39, 121);
    padding: 15px;
    font-size: 48px;
  }
  .ctmail .mail_icon i{
    color:grey;
    padding: 15px;
    font-size: 48px;
  }
  .ctmail .whatsapp_icon i{
    color:green;
    padding: 15px;
    font-size: 48px;
    /* background-color: green; */
  }





/* header */
        
            /* Custom CSS Styles */
            .navbar-nav .nav-link {
                margin-right: 12px;
                font-size: 20px;
            }

            .navbar {
                padding: 5px 16px;
                line-height: 30px;
            }

            .navbar img {
                height: 120px;
            }

            /* Custom CSS Styles */
            .navbar {
                border: 1px solid #ffffff;
                /* Add border to the navbar */
                border-radius: 6px;
                /* Optional: Add border radius for a rounded appearance */
            }

            .navbar-nav li a {
                /* color: white; */
                transition: white 0.1s ease;
                border-radius: 0px;
                padding: 5px 10px;
            }

            .navbar-nav li a {}

            .navbar {
                background-color: #0c1735e5;
            }



            .navbar .navbar-nav .nav-link:hover {
                background-color: #ffffff;
                /* Change the background color on hover */
                color: #000000;
                border-radius: 10px;
                /* Change the text color on hover */
            }

            .navbar .navbar-nav .nav-link {
                color: white;
            }
            .form-inline .btn{
                /* width: 120; */
                padding: 10px;

              
            }
            .btnget button{
                width: 140px;
                margin-right: 10px;
                color: rgb(0, 0, 0);
                background-color: #fff;
            }
            .btnget button:active{
                background-color: #ffffff;
                color: #000000;
                text-decoration: olivedrab;
            }